<%= form_for @chofer do |f| %>

<%= f.label :nombre %>
<%= f.text_field :nombre %>

<%= f.label :apellido %>
<%= f.text_field :apellido %>

<%= f.label :email %>
<%= f.email_field :email %>

<div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<%= f.submit 'Guardar' %>