<h3>Buscar viaje</h3>

<% render 'formBuscar' %>

<table class="table">
	<tr>
		<th> Origen </th>
		<th> Destino </th>
		<th> Combi </th>
		<th> Fecha </th>
		<th> Comprar </th>
	</tr>

	<% @viaje.each do |viaje| %>
		<tr>
			<td> <%= Lugar.find(Camino.find(viaje.camino_id).origen_id).ciudad %> <%= Lugar.find(Camino.find(viaje.camino_id).origen_id).provincia %> </td>
			<td> <%= Lugar.find(Camino.find(viaje.camino_id).destino_id).ciudad %> <%= Lugar.find(Camino.find(viaje.camino_id).destino_id).provincia   %> </td>
			<td> <%= Combi.find(viaje.combi_id).super_comoda %> </td>
			<td> <%= viaje.FechayHora %> </td>
			<td>Comprar </td>
		</tr>
	<% end %>

	<% if @viaje.size == 0 %>
		<tr> <td colspan="3"> No hay Viajes </td> </tr>
	<% end %>

</table>
