<table class="table">
	<tr>
		<th> Origen </th>
		<th> Destino </th>
		<th> Combi </th>
		<th> Fecha </th>
		<th> Estado del pasaje </th>
		<th>Estado del viaje </th>
	</tr>

	<% @viaje.each do |viaje| %>
		<tr>
			<td> <%= Lugar.find(Camino.find(viaje.camino_id).origen_id).ciudad %> <%= Lugar.find(Camino.find(viaje.camino_id).origen_id).provincia %> </td>
			<td> <%= Lugar.find(Camino.find(viaje.camino_id).destino_id).ciudad %> <%= Lugar.find(Camino.find(viaje.camino_id).destino_id).provincia   %> </td>
            <td> <% if Combi.find(viaje.combi_id).super_comoda %>
                         Super Comoda
                    <% else %>
                         Normal
                    <% end %>
            </td>
			<td> <%= viaje.FechayHora.to_formatted_s(:db) %> </td>
			<td> <% if Pasaje.where(viaje_id:viaje.id, user_id:current_user.id).first.estado %>
						Activo
                    <% else %>
                        Cancelado
                    <% end %>
			</td>
			<td>
        <%= viaje.estado %>
			</td>
			<td>
				<% if Pasaje.where(viaje_id:viaje.id, user_id:current_user.id).first.estado %>
		  		<% if  viaje.finalizado?%>
		  			<%= link_to 'Agregar/Editar Reseña' , edit_review_path(Pasaje.where(viaje_id:viaje.id, user_id:current_user.id).first) ,  class: 'btn btn-success' %>
		  		<% end %>
					<% if  viaje.pendiente?%>
		  			<%= link_to 'Cancelar' , pasaje_path(Pasaje.where(viaje_id:viaje.id, user_id:current_user.id).first.id), method: :put , :data => {confirm: 'Esta seguro que quiere cancelar el viaje? si faltan menos de 48hs solo se reintegrara el 50%'}, class: 'btn btn-primary' %>
		  		<% end %>
				<% end %>
			</td>
		</tr>
	<% end %>

	<% if @viaje.size == 0 %>
		<tr> <td colspan="3"> No hay Viajes </td> </tr>
	<% end %>

</table>
