<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">


          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "combi19.png", title: "Logo", class: "logo w-25 pr-3" %>
            Combi19
          <% end %>
 
          <% if not(user_signed_in?) and not(chofer_signed_in?) and not(admin_signed_in?) %>
            <%= link_to "Iniciar sesion como pasajero", new_user_session_path, class: 'btn btn-primary' %>
            <%= link_to "Iniciar sesion como chofer", new_chofer_session_path, class: 'btn btn-primary' %>
            <%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-secondary' %>
            <%= link_to "Registrarse express", registroExpress_path, class: 'btn btn-secondary' %>
          <%else%>
            <%= link_to "Desloguearse",destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">

        </div><!--/.nav-collapse -->
      </div>

    </div>
  </header>
