<div class="container-md">
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

   <!--esto es solo para los users -->

  <div class="field form-group">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :dni %><br />
    <%= f.text_field :dni, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :tarjeta %><br />
    <%= f.text_field :tarjeta, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :Fecha_de_expiracion %><br />
    <%= f.date_field :FechaExpiracion, class:"form-control" %>
  </div>

  <!------------------>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmacion de: <%= resource.unconfirmed_email %></div>
  <% end %>



  <div class="field form-group">
    <%= f.label 'Contraseña Actual' %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Editar", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
